<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Govno2</title>
    <link rel="stylesheet" type="text/css" href="../static/css/emulator.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/emulator.js"></script>
</head>
<body>
    <div id="someID">
        <div class="input-box">
            <label>Введите в говно</label>
            <input type="text" id="id1" placeholder="говно2.1">
            <br>
            <label>Введите ещё</label>
            <input type="text" id="id2" placeholder="говно2.2">
            <hr>
            <button onclick="govno2">Внести данные</button>
        </div>
    </div>
</body>